{%- extends "bootstrap/base.html" %}

{% block title %}twtxt.mylesb.ca{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.web.twtxt.mylesb.ca","*.web-twtxt-myles.herokuapp.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//piwik.mylesb.ca/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 8]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//piwik.mylesb.ca/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
