{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
        </div>
    </div>
    {%- endif %}
    {%- endwith %}
    
    <div class="header">
        <h1>TwTxt Web Viewer</h1>
        <p class="lead"><code>twtxt follow {{ twtxt_nick }} {{ twtxt_feed }}</code></p>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {%- for tweet in tweets %}
            <div class="panel panel-default">
                <div class="panel-body">{{ tweet.text|urlize(40, true) }}</div>
                {% for url in tweet.urls %}
                    {% if url.type == 'photo' %}
                    <div class="panel-embed panel-embedly thumbnail">
                        <img src="{{ url.url }}" alt="{{ url.title }}">
                    </div>
                    {% endif %}
                    
                    {% if url.type == 'video' %}
                    <div class="panel-embed panel-embedly embed-responsive embed-responsive-16by9">
                        {{ url.html|safe }}
                    </div>
                    {% endif %}
                    
                    {% if url.type == 'rich' %}
                    <div class="panel-embed panel-embedly">
                        {{ url.html|safe }}
                    </div>
                    {% endif %}
                    
                    {% if url.type == 'link' %}
                    {% if url.thumbnail_url %}
                    <div class="panel-body panel-embedly media">
                        <div class="media-left media-middle">
                            <a href="{{ url.url }}" title="{{ url.title }}">
                                <img class="media-object" src="{{ url.thumbnail_url }}" alt="{{ url.title }}" height="64px">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{{ url.url }}" title="{{ url.title }}">
                                <h4 class="media-heading">{{ url.title }}</h4>
                            </a>
                            
                            <p>{{ url.description }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="panel-body panel-embedly">
                        <a href="{{ url.url }}" title="{{ url.title }}">
                            <h4 class="media-heading">{{ url.title }}</h4>
                        </a>
                        
                        <p>{{ url.description }}</p>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="panel-footer">{{ tweet.timestamp.strftime('%-d %B, %Y at %-I:%M %p') }}</div>
            </div>
            {%- endfor %}
        </div>
    </div>
    
    <div class="footer">
        <p>Made by <a href="https://mylesb.ca/" title="Myles Alden Braithwaite">Myles Braithwaite</a> with {% include "_heart.svg" %} in Toronto.</p>
    </div>
</div>
{%- endblock %}
